/* Add your styles here */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('/r.jpg');
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 1rem;
}

section {
    padding: 2rem;
    text-align: center;
}

.menu-item {
    border: 1px solid #ccc;
    padding: 1rem;
    margin-bottom: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

button {
    background-color: #333;
    color: #fff;
    padding: 0.5rem;
    cursor: pointer;
    border: none;
}
